/**
    为方便日后维护管理
    该文件作为整体布局，组件和组件之间的样式表
    禁止写入组件内的样式表内容
*/
.window {
    margin: 0 auto;
    width: 65%;
    color: black;
    .header {
        min-height: 10vh;
        font-size: 2vw;
        a {
            text-decoration: none;
        }
    }
    .content {
      margin: 1vh auto 1vh;
    }
    .footer {
        min-height: 10vh;
        .footerInfo {
            font-size: 0.5vw;
            margin: 10px auto;
            text-align: center;
            div {
                margin-bottom: 0.2vw;
                img {
                    width: 1.2vw;
                }
            }
        }
    }
}