.window {
    margin: 0 auto;
    padding: 0 5vmax;
    width: 70%;
    font-size: 1.5vmax;
    color: black;
    .header {
      // margin-left: 70%;
      // text-align: right;
      // width: 50%;
      // float: right;
    }
    .blogMainInfo {
      .blogName {
        font-size: 4vmax;
        margin: 2vmax auto;
      }
      .redBottom {
        border-color: red;
          border-bottom-style: solid;
          border-width: 0.3vmax;
        .aWord {
          color: black;
          margin-top: -0.5vmax;
          font-size: 1.5vmax;
        }
      }
    }
    .content {
      // width: 80%;
      // margin-top: 1vmax;
      margin: 1vmax auto 1vmax;
    }
  }