/**
    为方便日后维护管理
    该文件作为整体布局，组件和组件之间的样式表
    禁止写入组件内的样式表内容
*/
.window {
    margin: 0 auto;
    width: 65vw;
    color: black;
    .headerPage {
        min-height: 4vh;
        font-size: 4vh;
        line-height: 4vh;
        a {
            text-decoration: none;
        }
    }
    .contentView {
        min-height: 85vh;
        .content {
            margin: 1vh auto 1vh;
        }
    }
    .footer {
        min-height: 12vh;
        .footerInfo {
            font-size: 0.5vw;
            margin:3.05vh auto;
            text-align: center;
            div {
                margin-bottom: 0.8vh;
                img {
                    height: 2.5vh;
                }
            }
        }
    }
}