//  backgroundColor
    // 最底层 background
    $fullBackgroundColor_dark: rgb(78, 78, 78);
    $fullBackgroundColor_light: rgb(255, 255, 255);
    // el-card background
    $mainBackgroundColor_dark: #121212;
    $mainBackgroundColor_light: rgb(255, 255, 255);
// /backgroundColor

// fontColor
    // 正文
    $textFontColor_dark: rgb(184, 184, 184);
    $textFontColor_light: #333;

// /fontColor